/* ============================== Menu Part Start =================================== */
#main_menu{
    position: fixed;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
    .menu_part{
        ul{
            display: flow-root;
            li{
                background: transparent;
                padding: 0px 0px;
                margin: 10px 0;
                border-radius: 100px;
                @include transition();
                a{
                    i{
                        width: 50px;
                        height: 46px;
                        border-radius: 50%;
                        background: $hover;
                        color: #fff;
                        text-align: center;
                        line-height: 46px;
                        font-size: 20px;
                        border: 1px solid transparent;
                        @include transition();
                    }
                    span{
                        width: 80%;
                        @include text(0,400,$hover);
                        text-transform: uppercase;
                        text-align: center;
                        padding: 0 0;
                    }
                    &.active{
                        i{
                            border: 1px solid #fff;
                        }
                    }
                }
                &:hover{
                    background: #fff;
                    a{
                        span{
                            font-size: 16px;
                            padding: 0 10px;
                        }
                    }
                }
            }
        }
    }
    .mobile_menu_button{
        display: none;
    }
}
/* ============================== Menu Part End =================================== */

