@import '../mixins/mixins';
/* ==================  Font Part Start  ================== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
// font-family: 'Montserrat', sans-serif;
@font-face {
    font-family: 'future-bk-bt';
    src: url('../../font/FuturaBookBT.ttf');
}
@font-face {
    font-family: 'future-hv-bt';
    src: url('../../font/FuturaHeavyBT.ttf');
}
p{
    font-family: 'Roboto', sans-serif !important;
}
/* ==================  Common Part Start  ================== */
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}
body{
    background: #212428;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
#mobile_nav{
    display: none;
}
.body_wrrapped{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    .body_left{
        width: 8%;
        box-shadow: 10px 10px 19px #1c1e22;
        &:hover{
            box-shadow: none;
        }
    }
    .body_right{
        width: 92%;
    }
}

.cd-words-wrapper {
display: inline-block;
position: relative;
text-align: left; }

.cd-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0; 
}

.cd-words-wrapper b.is-visible {
position: relative; }

.no-js .cd-words-wrapper b {
opacity: 0; }

.no-js .cd-words-wrapper b.is-visible {
opacity: 1; }

.cd-headline.clip span {
display: inline-block;
padding: 0; }

.cd-headline.clip .cd-words-wrapper {
overflow: hidden;
vertical-align: middle; }

.cd-headline.clip .cd-words-wrapper::after {
content: '';
position: absolute;
top: 50%;
right: 0;
width: 2px;
height: 80%;
background-color: rgba(255, 255, 255, 0.3);
transform: translateY(-50%); }

.cd-headline.clip b {
opacity: 0; }

.cd-headline.clip b.is-visible {
opacity: 1; }

.common_head{
    text-align: center;
    span{
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        color: #9f9f9f;
    }
    h2{
        font-size: 36px;
        text-transform: uppercase;
        font-weight: 800;
        color: #fff;
        padding: 5px 0 15px 0;
    }
    .animated-bar{
        background-color: $hover;
        display: block;
        height: 4px;
        left: 0;
        margin: 0 auto 0 auto;
        position: relative;
        right: 0;
        width: 75px;
        &::after{
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-name: barAnimation;
            animation-timing-function: linear;
            background-color: #212428;
            content: '';
            height: 100%;
            position: absolute;
            top: 0;
            width: 4px;
            left: 8px;
        }
        &::before{
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-name: barAnimation;
            animation-timing-function: linear;
            background-color: #212428;
            content: '';
            height: 100%;
            position: absolute;
            top: 0;
            width: 4px;
            left: 0;
        }
    }
}
/* ==================  Common Part End  ================== */